<section
  class="iu-requirements relative scroll-mt-32 md:scroll-mt-36 xl:scroll-mt-32 bg-transparent mt-16"
>
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="block iu-headline-2 mb-4 font-bold leading-tight">
      <span class="box-decoration-clone hyphens-auto">Entry requirements</span>
    </h2>
    <div class="wysiwyg my-8">
      <p>
        The admissions documents must be provided in English or German. If they
        were not issued in one of these two languages, a translation is
        required. If you need to translate your documents, we can help refer you
        to our trusted translation partners. You can find more details <a
          href="https://res.cloudinary.com/iubh/image/upload/v1633539267/International-FSEU/Forms_Documents/Downloads/IU_Translation_of_Documents_Required_for_Enrolment_01_a5heio.pdf"
          rel="noopener noreferrer"
          target="_blank"
          >here</a
        >.&nbsp;<br class="softbreak" />
      </p>
    </div>
    <dl
      class="accordion"
      x-data="{
openItem: null,
toggleAccordionItem(itemId) {
    if (this.openItem === itemId) {
        itemId = null
    }

    this.openItem = itemId
}
}"
    >
      <div class="accordion-item border-b first:border-t border-gray-400">
        <dt
          class="accordion-header relative py-4 pr-8 text-xl font-bold select-none cursor-pointer is-collapsible"
          data-t-c="Content Engagement"
          data-t-a="click"
          data-t-l="Accordion General admission requirements"
          data-t4-eventname="content_engagement"
          data-t4-type="accordion"
          data-t4-label="General admission requirements"
          x-on:click="toggleAccordionItem('item-sFNv48bG')"
          x-bind:class="{ 'is-open': openItem === 'item-sFNv48bG' }"
        >
          <h3 class="block iu-headline-5 mb-4 font-bold leading-tight">
            <span class="box-decoration-clone hyphens-auto"
              >General admission requirements</span
            >
          </h3>
        </dt>
        <dd
          class="accordion-body overflow-hidden"
          x-show="openItem === 'item-sFNv48bG'"
          x-collapse
        >
          <div class="wysiwyg mb-6">
            <ul>
              <li>
                Completed undergraduate degree from a public or officially
                recognised university/higher education institution.&nbsp;&nbsp;
              </li>
              <li>
                For 60-ECTS programmes, you will need to have already acquired
                240 ECTS credits.&nbsp;
              </li>
              <li>
                For 120-ECTS programmes, you will need to have 180 ECTS
                credits.&nbsp;&nbsp;
              </li>
              <li>
                You must have achieved a final grade of at least “satisfactory”
                or Grade C equivalent in your previous undergraduate
                degree&nbsp;
              </li>
              <li>
                Proof of at least one year’s professional work experience
                completed prior to the start of study programme. Work experience
                must have been gained after completion of your undergraduate
                studies
              </li>
            </ul>
            <p><br /></p>
          </div>
        </dd>
      </div>
      <div class="accordion-item border-b first:border-t border-gray-400">
        <dt
          class="accordion-header relative py-4 pr-8 text-xl font-bold select-none cursor-pointer is-collapsible"
          data-t-c="Content Engagement"
          data-t-a="click"
          data-t-l="Accordion Further admission opportunities"
          data-t4-eventname="content_engagement"
          data-t4-type="accordion"
          data-t4-label="Further admission opportunities"
          x-on:click="toggleAccordionItem('item-ktQXvq3g')"
          x-bind:class="{ 'is-open': openItem === 'item-ktQXvq3g' }"
        >
          <h3 class="block iu-headline-5 mb-4 font-bold leading-tight">
            <span class="box-decoration-clone hyphens-auto"
              >Further admission opportunities</span
            >
          </h3>
        </dt>
        <dd
          class="accordion-body overflow-hidden"
          x-show="openItem === 'item-ktQXvq3g'"
          x-collapse
        >
          <div class="wysiwyg mb-6">
            <p>
              Depending on your previous education, the following entry options
              are applicable for the
              <strong>60-ECTS Master’s degree</strong>:&nbsp;
            </p>
            <ul>
              <li>
                undergraduate degree with 210 ECTS: you can bridge the gap of 30
                ECTS points with the proof of one year qualified work
                experience&nbsp;
              </li>
              <li>
                undergraduate degree with 180 ECTS: you can bridge the gap of 60
                ECTS points with the proof of two years qualified work
                experience&nbsp;
              </li>
            </ul>
            <p>
              Recognition of knowledge and abilities acquired outside of higher
              education is possible in principle.&nbsp;
            </p>
          </div>
        </dd>
      </div>
      <div class="accordion-item border-b first:border-t border-gray-400">
        <dt
          class="accordion-header relative py-4 pr-8 text-xl font-bold select-none cursor-pointer is-collapsible"
          data-t-c="Content Engagement"
          data-t-a="click"
          data-t-l="Accordion Additional specialist knowledge"
          data-t4-eventname="content_engagement"
          data-t4-type="accordion"
          data-t4-label="Additional specialist knowledge"
          x-on:click="toggleAccordionItem('item-RECSY3AP')"
          x-bind:class="{ 'is-open': openItem === 'item-RECSY3AP' }"
        >
          <h3 class="block iu-headline-5 mb-4 font-bold leading-tight">
            <span class="box-decoration-clone hyphens-auto"
              >Additional specialist knowledge</span
            >
          </h3>
        </dt>
        <dd
          class="accordion-body overflow-hidden"
          x-show="openItem === 'item-RECSY3AP'"
          x-collapse
        >
          <div class="wysiwyg mb-6">
            <p>
              To study the&nbsp;<strong>60 ECTS</strong
              >&nbsp;<strong>programme</strong>, you will need to have taken
              courses “Programming with Python” and “Advanced Mathematics” or
              demonstrate equivalent knowledge. You can take these courses
              online with us for free.
            </p>
          </div>
        </dd>
      </div>
      <div class="accordion-item border-b first:border-t border-gray-400">
        <dt
          class="accordion-header relative py-4 pr-8 text-xl font-bold select-none cursor-pointer is-collapsible"
          data-t-c="Content Engagement"
          data-t-a="click"
          data-t-l="Accordion Work experience"
          data-t4-eventname="content_engagement"
          data-t4-type="accordion"
          data-t4-label="Work experience"
          x-on:click="toggleAccordionItem('item-J1xBOS5M')"
          x-bind:class="{ 'is-open': openItem === 'item-J1xBOS5M' }"
        >
          <h3 class="block iu-headline-5 mb-4 font-bold leading-tight">
            <span class="box-decoration-clone hyphens-auto"
              >Work experience</span
            >
          </h3>
        </dt>
        <dd
          class="accordion-body overflow-hidden"
          x-show="openItem === 'item-J1xBOS5M'"
          x-collapse
        >
          <div class="wysiwyg mb-6">
            <ul>
              <li>
                Proof of at least one year’s qualified work experience completed
                prior to the start of the study programme (the work
                experience&nbsp;must&nbsp;be gained&nbsp;after the completion of
                your undergraduate studies).
              </li>
              <li>
                Don’t have a year’s worth of qualified work experience? Don’t
                worry! With the
                <strong>Online Degree Saver Programme</strong>, you can start
                your studies right away, and gain your professional experience
                alongside your studies. You’ll need to achieve the one year’s
                worth of experience before you complete your Online Degree Saver
                Programme.
              </li>
              <li>
                You can provide us a translation of your employment contract and
                your pay slip&nbsp;<strong>or</strong>&nbsp;you can ask your
                company to fill out this form in English, sign it, apply the
                company stamp and send it to us:<br /><a
                  href="https://res.cloudinary.com/iubh/image/upload/v1629961042/International-FSEU/Forms_Documents/Downloads/IU_Employment_letter_template_MM_EN.pdf"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><strong
                    ><u>Proof of work experience (EN)<br /></u></strong></a
                ><a
                  href="https://res.cloudinary.com/iubh/image/upload/v1643126471/International-FSEU/Forms_Documents/Downloads/IU_Employment_letter_template_MM_NL.pdf"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><strong><u>Proof of work experience (NL)</u></strong></a
                ><a
                  href="https://res.cloudinary.com/iubh/image/upload/v1629961042/International-FSEU/Forms_Documents/Downloads/IU_Employment_letter_template_MM_EN.pdf"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><strong
                    ><u><br /></u></strong></a
                ><a
                  href="https://res.cloudinary.com/iubh/image/upload/v1629961042/International-FSEU/Forms_Documents/Downloads/IU_Employment_letter_template_MM_ES.pdf"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><strong><u>Proof of work experience (ES)</u></strong></a
                ><a
                  href="https://res.cloudinary.com/iubh/image/upload/v1629961042/International-FSEU/Forms_Documents/Downloads/IU_Employment_letter_template_MM_EN.pdf"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><strong
                    ><u><br /></u></strong></a
                ><a
                  href="https://res.cloudinary.com/iubh/image/upload/v1629961042/International-FSEU/Forms_Documents/Downloads/IU_Employment_letter_template_MM_IT.pdf"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><strong><u>Proof of work experience (IT)</u></strong></a
                ><a
                  href="https://res.cloudinary.com/iubh/image/upload/v1629961042/International-FSEU/Forms_Documents/Downloads/IU_Employment_letter_template_MM_EN.pdf"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><strong
                    ><u><br /></u></strong></a
                ><a
                  href="https://res.cloudinary.com/iubh/image/upload/v1629961042/International-FSEU/Forms_Documents/Downloads/IU_Employment_letter_template_MM_FR.pdf"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><strong><u>Proof of work experience (FR)</u></strong></a
                >
              </li>
            </ul>
          </div>
        </dd>
      </div>
      <div class="accordion-item border-b first:border-t border-gray-400">
        <dt
          class="accordion-header relative py-4 pr-8 text-xl font-bold select-none cursor-pointer is-collapsible"
          data-t-c="Content Engagement"
          data-t-a="click"
          data-t-l="Accordion English language skills"
          data-t4-eventname="content_engagement"
          data-t4-type="accordion"
          data-t4-label="English language skills"
          x-on:click="toggleAccordionItem('item-GkgvF6Lb')"
          x-bind:class="{ 'is-open': openItem === 'item-GkgvF6Lb' }"
        >
          <h3 class="block iu-headline-5 mb-4 font-bold leading-tight">
            <span class="box-decoration-clone hyphens-auto"
              >English language skills</span
            >
          </h3>
        </dt>
        <dd
          class="accordion-body overflow-hidden"
          x-show="openItem === 'item-GkgvF6Lb'"
          x-collapse
        >
          <div class="wysiwyg mb-6">
            <p>
              Depending on your personal circumstances, you might be required to
              provide proof of your English language proficiency. Your skills
              would need to match the
              <strong>B2 level</strong> of the Common European Framework
              (CEF).&nbsp;
            </p>
            <p>
              We accept the following English language skills
              certificates*:&nbsp;
            </p>
            <ul>
              <li>TOEFL (minimum 80 points)* or &nbsp;</li>
              <li>IELTS (minimum Level 6)* or &nbsp;</li>
              <li>Duolingo English Test (minimum 95 points)* or&nbsp;</li>
              <li>Cambridge Certificate (minimum Grade B)*  &nbsp;</li>
            </ul>
            <p>
              Is English your native language, or have you graduated from an
              English-speaking school or university? Then you
              <strong>do not need</strong> to prove your English language
              proficiency. &nbsp;
            </p>
            <p>Get in touch with our study advisors for more details.&nbsp;</p>
            <p>
              <em class="ql-size-small"
                >*Proof must be provided before the start of the study and must
                not be older than five years.</em
              ><span class="ql-size-small">&nbsp;</span><br class="softbreak" />
            </p>
          </div>
        </dd>
      </div>
      <div
        class="accordion-item border-b first:border-t border-gray-400"
        x-show="online"
      >
        <dt
          class="accordion-header relative py-4 pr-8 text-xl font-bold select-none cursor-pointer is-collapsible"
          data-t-c="Content Engagement"
          data-t-a="click"
          data-t-l="Accordion Online degree saver programme"
          data-t4-eventname="content_engagement"
          data-t4-type="accordion"
          data-t4-label="Online degree saver programme"
          x-on:click="toggleAccordionItem('item-VbdEkdkz')"
          x-bind:class="{ 'is-open': openItem === 'item-VbdEkdkz' }"
        >
          <h3 class="block iu-headline-5 mb-4 font-bold leading-tight">
            <span class="box-decoration-clone hyphens-auto"
              >Online degree saver programme</span
            >
          </h3>
        </dt>
        <dd
          class="accordion-body overflow-hidden"
          x-show="openItem === 'item-VbdEkdkz'"
          x-collapse
        >
          <div class="wysiwyg mb-6">
            <p>
              Apply for the online Degree Saver programme and receive a discount
              on your tuition fees.&nbsp;
            </p>
            <p>
              Please get in touch with our Study Advisory Team for more
              details.&nbsp;<br class="softbreak" />
            </p>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</section>
