<header
  class="iu-hero hero relative flex flex-col-reverse lg:flex-row overflow-hidden bg-green-lighter lg:h-160"
  x-show="campus"
>
  <div
    class="relative z-30 w-full px-4 sm:px-6 lg:px-8 lg:absolute lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:max-w-screen-xl lg:mt-48"
  >
    <div class="mt-8 lg:mt-0 lg:w-1/2">
      <div class="flex flex-col-reverse">
        <h1 class="block iu-headline-1 mb-4 font-bold leading-loose z-30">
          <span class="box-decoration-clone px-4 py-2 bg-green"
            >Artificial Intelligence</span
          >
        </h1>
        <h2 class="block iu-headline-4 mb-0 font-semibold leading-loose z-30">
          <span
            class="box-decoration-clone px-4 py-2 dark-section text-white bg-black"
            >Master</span
          >
        </h2>
      </div>
      <div class="wysiwyg mb-8 lg:ml-20">
        <p>
          Artificial Intelligence is rapidly becoming a major part of many areas
          in our lives. In our Master‘s in Artificial Intelligence programme,
          you will learn how to successfully develop AI and in doing so actively
          shape our future.&nbsp;<br class="softbreak" />
        </p>
      </div>
      <div class="mb-8 lg:ml-20">
        <a
          class="button button--primary block mt-4"
          href="#leadform"
          data-pass-params="false"
          data-t-c="Hero Engagement"
          data-t-a="click"
          data-t-l="Request free info"
          data-t4-eventname="cta"
          data-t4-type="infobrochure"
          data-t4-position="hero"
        >
          Request free info
        </a>
      </div>
    </div>
  </div>
</header>
<header
  class="iu-hero hero relative flex flex-col-reverse lg:flex-row overflow-hidden bg-green-lighter lg:h-160"
  x-show="online"
>
  <div
    class="relative z-30 w-full px-4 sm:px-6 lg:px-8 lg:absolute lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:max-w-screen-xl lg:mt-48"
  >
    <div class="mt-8 lg:mt-0 lg:w-1/2">
      <div class="flex flex-col-reverse">
        <h1 class="block iu-headline-1 mb-4 font-bold leading-loose z-30">
          <span class="box-decoration-clone px-4 py-2 bg-green"
            >Artificial Intelligence</span
          >
        </h1>
        <h2 class="block iu-headline-4 mb-0 font-semibold leading-loose z-30">
          <span
            class="box-decoration-clone px-4 py-2 dark-section text-white bg-black"
            >Master</span
          >
        </h2>
      </div>
      <div class="wysiwyg mb-8 lg:ml-20">
        <p>
          Artificial Intelligence is rapidly becoming a major part of many areas
          in our lives. In our online Master in Artificial Intelligence, you
          will learn how to successfully develop AI and in doing so actively
          shape our future.<br class="softbreak" />
        </p>
      </div>
      <div class="mb-8 lg:ml-20">
        <a
          class="button button--primary block mt-4"
          href="#leadform"
          data-pass-params="false"
          data-t-c="Hero Engagement"
          data-t-a="click"
          data-t-l="Request free info"
          data-t4-eventname="cta"
          data-t4-type="infobrochure"
          data-t4-position="hero"
        >
          Request free info
        </a>
      </div>
    </div>
  </div>
  <div
    class="hero-image relative lg:h-auto lg:w-1/2 lg:left-1/2 h-screen-3/4 max-h-160"
  >
    <div class="slope-container h-full">
      <picture class="">
        <source
          media="(min-width: 1536px)"
          srcset="
            https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,w_1536,c_fill,dpr_auto,g_face,ar_16:9/v1603370496/01%20-%20Studiengaenge/02%20-%20Master/M.%20Sc.%20Artificial%20Intelligence/2020-m-sc-artificial-intelligence_fneinj.jpg
          "
          width="1536"
          height="864"
          type="image/webp"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,w_1280,c_fill,dpr_auto,g_face,ar_16:9/v1603370496/01%20-%20Studiengaenge/02%20-%20Master/M.%20Sc.%20Artificial%20Intelligence/2020-m-sc-artificial-intelligence_fneinj.jpg
          "
          width="1280"
          height="720"
          type="image/webp"
        />
        <source
          media="(min-width: 640px)"
          srcset="
            https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,w_768,c_fill,dpr_auto,g_face,ar_4:3/v1603370496/01%20-%20Studiengaenge/02%20-%20Master/M.%20Sc.%20Artificial%20Intelligence/2020-m-sc-artificial-intelligence_fneinj.jpg
          "
          width="768"
          height="576"
          type="image/webp"
        />
        <source
          media="(min-width: 0px)"
          srcset="
            https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,w_460,c_fill,dpr_auto,g_face,ar_4:3/v1603370496/01%20-%20Studiengaenge/02%20-%20Master/M.%20Sc.%20Artificial%20Intelligence/2020-m-sc-artificial-intelligence_fneinj.jpg
          "
          width="460"
          height="345"
          type="image/webp"
        />
        <img
          src="data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 4000 2628%27%3E%3C/svg%3E"
          alt="Software-Entwickler einigen Recherchen."
          class="h-full w-full object-cover object-top rounded-none"
        />
      </picture>
    </div>
    <picture class="absolute inset-y-0 right-0 w-full z-20">
      <source
        media="(min-width: 1536px)"
        srcset="
          https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,w_1536,c_fill,dpr_auto,g_face,ar_16:9/v1603370496/01%20-%20Studiengaenge/02%20-%20Master/M.%20Sc.%20Artificial%20Intelligence/2020-m-sc-artificial-intelligence-tp_fqajjx.png
        "
        width="1536"
        height="864"
        type="image/webp"
      />
      <source
        media="(min-width: 1024px)"
        srcset="
          https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,w_1280,c_fill,dpr_auto,g_face,ar_16:9/v1603370496/01%20-%20Studiengaenge/02%20-%20Master/M.%20Sc.%20Artificial%20Intelligence/2020-m-sc-artificial-intelligence-tp_fqajjx.png
        "
        width="1280"
        height="720"
        type="image/webp"
      />
      <source
        media="(min-width: 640px)"
        srcset="
          https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,w_768,c_fill,dpr_auto,g_face,ar_4:3/v1603370496/01%20-%20Studiengaenge/02%20-%20Master/M.%20Sc.%20Artificial%20Intelligence/2020-m-sc-artificial-intelligence-tp_fqajjx.png
        "
        width="768"
        height="576"
        type="image/webp"
      />
      <source
        media="(min-width: 0px)"
        srcset="
          https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,w_460,c_fill,dpr_auto,g_face,ar_4:3/v1603370496/01%20-%20Studiengaenge/02%20-%20Master/M.%20Sc.%20Artificial%20Intelligence/2020-m-sc-artificial-intelligence-tp_fqajjx.png
        "
        width="460"
        height="345"
        type="image/webp"
      />
      <img
        src="data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 4000 2628%27%3E%3C/svg%3E"
        alt="Software-Entwickler einigen Recherchen."
        class="h-full w-full object-cover object-top rounded-none"
      />
    </picture>
  </div>
</header>
