<main class="w-full">
    <!-- Top section start -->
    <section class="w-full mx-auto">
        <!-- Award section start -->
        <section class="iu-logocloud relative scroll-mt-32 md:scroll-mt-36 xl:scroll-mt-32 bg-transparent mt-16 mb-16">
            <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
                <div
                    class="place-items-center gap-4 md:gap-6 lg:gap-8 grid grid-cols-2 md:grid-cols-3 lg:grid-rows-1 grid-rows-4 md:grid-rows-3 lg:grid-cols-7">
                    <div class="group rounded-xl">
                        <div class="group-hover:hidden py-3">
                            <picture class="flex items-center justify-center">
                                <source media="(min-width: 0px)"
                                    srcset="https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,h_100,c_fill,dpr_auto,g_face/08%20-%20Siegel/fs_qs_star_poh2uo.png"
                                    loading="lazy" width="157" height="100" type="image/webp">
                                <img loading="lazy"
                                    src="data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 306 195%27%3E%3C/svg%3E"
                                    alt="QS Stars" class="rounded-none">
                            </picture>
                        </div>
                        <div class="hidden group-hover:block pt-1 text-center text-sm">
                            <p class="cursor-default">
                                Rated 5 stars for our online learning, among the best in the world
                            </p>

                            <a href="https://www.iu.org/en-in/about/quality/#Rankings" target="_blank" class="underline"
                                rel="noopener">
                                Read more
                            </a>
                        </div>
                    </div>
                    <div class="group rounded-xl">
                        <div class="group-hover:hidden py-3">
                            <picture class="flex items-center justify-center">
                                <source media="(min-width: 0px)"
                                    srcset="https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,h_100,c_fill,dpr_auto,g_face/International/Logos_png/Seal_EDE-Premium.png"
                                    loading="lazy" width="100" height="100" type="image/webp">
                                <img loading="lazy"
                                    src="data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 3248 3248%27%3E%3C/svg%3E"
                                    alt="FIBAA" class="rounded-none">
                            </picture>
                        </div>
                        <div class="hidden group-hover:block pt-1 text-center text-sm">
                            <p class="cursor-default">
                                Globally recognised for our quality-assured digital education
                            </p>

                            <a href="https://www.iu.org/en-in/about/quality/#ACCREDITATION &amp; CERTIFICATION"
                                target="_blank" class="underline" rel="noopener">
                                Read more
                            </a>
                        </div>
                    </div>
                    <div class="group rounded-xl">
                        <div class="group-hover:hidden py-3">
                            <picture class="flex items-center justify-center">
                                <source media="(min-width: 0px)"
                                    srcset="https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,h_100,c_fill,dpr_auto,g_face/International/Logos_png/aacsb-business-education-alliance-member-vector-logo_nnisia.png"
                                    loading="lazy" width="175" height="100" type="image/webp">
                                <img loading="lazy"
                                    src="data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 652 373%27%3E%3C/svg%3E"
                                    alt="AACSB" class="rounded-none">
                            </picture>
                        </div>
                        <div class="hidden group-hover:block pt-1 text-center text-sm">
                            <p class="cursor-default">
                                Enhanced research opportunities help IU provide the very best to you
                            </p>

                            <a href="https://www.iu.org/en-in/about/quality/#Memberships" target="_blank"
                                class="underline" rel="noopener">
                                Read more
                            </a>
                        </div>
                    </div>
                    <div class="group rounded-xl">
                        <div class="group-hover:hidden py-3">
                            <picture class="flex items-center justify-center">
                                <source media="(min-width: 0px)"
                                    srcset="https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,h_100,c_fill,dpr_auto,g_face/International/eqar_logo_text_r4ty52.png"
                                    loading="lazy" width="214" height="100" type="image/webp">
                                <img loading="lazy"
                                    src="data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1058 494%27%3E%3C/svg%3E"
                                    alt="EQAR" class="rounded-none">
                            </picture>
                        </div>
                        <div class="hidden group-hover:block pt-1 text-center text-sm">
                            <p class="cursor-default">
                                Our teaching and faculty meet European educational standards
                            </p>

                            <a href="https://www.iu.org/en-in/about/quality/#eqar" target="_blank" class="underline"
                                rel="noopener">
                                Read more
                            </a>
                        </div>
                    </div>
                    <div class="group rounded-xl">
                        <div class="group-hover:hidden py-3">
                            <picture class="flex items-center justify-center">
                                <source media="(min-width: 0px)"
                                    srcset="https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,h_100,c_fill,dpr_auto,g_face/International/Logos_png/che_ranking_2021_en_small.png"
                                    loading="lazy" width="61" height="100" type="image/webp">
                                <img loading="lazy"
                                    src="data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 190 314%27%3E%3C/svg%3E"
                                    alt="CHE" class="rounded-none">
                            </picture>
                        </div>
                        <div class="hidden group-hover:block pt-1 text-center text-sm">
                            <p class="cursor-default">
                                Academically top ranked in Germany with 6 out of 25 categories won
                            </p>

                            <a href="https://www.iu.org/en-in/about/quality/#CHE" target="_blank" class="underline"
                                rel="noopener">
                                Read more
                            </a>
                        </div>
                    </div>
                    <div class="group rounded-xl">
                        <div class="group-hover:hidden py-3">
                            <picture class="flex items-center justify-center">
                                <source media="(min-width: 0px)"
                                    srcset="https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,h_100,c_fill,dpr_auto,g_face/International/Logos_png/Wissenschaftsrat-logocloud.png"
                                    loading="lazy" width="107" height="100" type="image/webp">
                                <img loading="lazy"
                                    src="data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1633 1520%27%3E%3C/svg%3E"
                                    alt="Wissenschaftsrat" class="rounded-none">
                            </picture>
                        </div>
                        <div class="hidden group-hover:block pt-1 text-center text-sm">
                            <p class="cursor-default">
                                Reaccredited until 2026 for our competency in teaching and research
                            </p>

                            <a href="https://www.iu.org/en-in/about/quality/#ACCREDITATION &amp; CERTIFICATION"
                                target="_blank" class="underline" rel="noopener">
                                Read more
                            </a>
                        </div>
                    </div>
                    <div class="group rounded-xl">
                        <div class="group-hover:hidden py-3">
                            <picture class="flex items-center justify-center">
                                <source media="(min-width: 0px)"
                                    srcset="https://res.cloudinary.com/iubh/image/upload/q_auto:eco/f_webp,h_100,c_fill,dpr_auto,g_face/International/Logos_png/UNESCO/gec_en__memberof_colour-01_new.png"
                                    loading="lazy" width="229" height="100" type="image/webp">
                                <img loading="lazy"
                                    src="data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 1248 545%27%3E%3C/svg%3E"
                                    alt="UNESCO" class="rounded-none">
                            </picture>
                        </div>
                        <div class="hidden group-hover:block pt-1 text-center text-sm">
                            <p class="cursor-default">
                                We support students in crisis situations as #LearningNeverStops
                            </p>

                            <a href="https://www.iu.org/en-in/about/quality/#Memberships" target="_blank"
                                class="underline" rel="noopener">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Award section end -->

        <!-- Apply Now section start -->
        <section class="bg-[#bbffb8] px-24 py-12">
            <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 flex">
                <div
                    class="shadow-md md:shadow-xl inline-flex justify-between items-center flex-col md:flex-row text-center md:text-left md:max-w-3xl mx-auto bg-white backdrop-blur-xl bg-opacity-80 p-5 md:p-8 rounded-xl">
                    <div class="flex w-full items-center">
                        <div class="flex flex-col">
                            <div class="flex">
                                <div class="block text-3xl mb-4 font-bold leading-tight text-left">
                                    <span>
                                        Open doors to opportunities around the world
                                    </span>
                                </div>
                            </div>
                            <div class="wysiwyg text-left mb-5 text-xs md:text-base mr-20 pr-2 md:mr-0 md:pr-0">
                                <p>Apply by <strong>June 22nd</strong> and <strong>save up to 35%</strong> on your
                                    tuition fees&nbsp;<br class="softbreak"></p>
                            </div>
                            <div class="flex items-center mb-5">
                                <a class="button button--primary shrink-0 h-12 mr-5 text-sm md:text-base"
                                    href="https://www.iu.org/en-in/application/mm/" data-pass-params="true"
                                    data-t-c="Application CTA Button" data-t-a="click" data-t-l="Campaign Banner"
                                    data-t4-eventname="campaign_banner" data-t4-position="content"
                                    data-t4-label="APPLY NOW">
                                    APPLY NOW
                                </a>

                                <div class="wysiwyg text-left text-sm block">
                                    <p>Earn a degree that will elevate your <strong>international career
                                            prospects</strong>. Build a <strong>global network </strong>with students
                                        from over 140 countries around the world.&nbsp;<br class="softbreak"></p>
                                </div>
                            </div>
                            <div class="wysiwyg text-xs text-left text-gray-700 leading-4">
                                <p>*You can start anytime.&nbsp;<br class="softbreak"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Apply Now section end -->
    </section>
    <!-- Top section end -->

    <!-- Overview section start -->
    <!-- Overview section end -->

    <!-- Study contents section start -->
    <!-- Study contents section end -->

    <!-- Admission section start -->
    <!-- Admission section end -->

    <!-- Careers section start -->
    <!-- Careers section end -->

    <!-- Student review section start -->
    <!-- Student review section end -->

    <!-- Tuition section start -->
    <!-- Tuition review section end -->

    <!-- Recognition section start -->
    <!-- TuiRecognitiontion review section end -->
</main>