.header-main {
  .header-buttons .button {
    @apply px-1 sm:px-4;
  }

  .logo svg {
    width: 140px;
    height: 47px;
  }

  .slide-search {
    @apply lg:w-8/12;
  }

  .search-list {
    @apply absolute z-10 bg-white border-black text-xs w-10/12 md:w-7/12 lg:w-8/12 pt-2.5 pb-2 pl-1 md:pl-0 mt-11 mb-2 md:ml-4 lg:ml-0;
  }
}

.body {
  &.search-is-open,
  &.nav-is-open {
    @apply overflow-hidden;
  }
}

.search-input::-webkit-search-cancel-button {
  padding-right: 0.5rem !important;
}

.quick-search-link[data-prefix]::before {
  content: attr(data-prefix) ' - ';
}
